<form>
  <h2>Create Account</h2>
  <div>
    <label>Account Type</label>

    <div>
      <label>
        <input
          type="radio"
          value="individual"
          [formField]="registrationForm.account.type"
        />
        Individual
      </label>

      <label>
        <input
          type="radio"
          value="business"
          [formField]="registrationForm.account.type"
        />
        Business
      </label>
    </div>
  </div>

  @if (isIndividualVisible()) {
    <fieldset>
      <legend>Individual Information</legend>

      <div>
        <label for="firstName">First Name</label>
        <input
          id="firstName"
          type="text"
          [formField]="registrationForm.account.individual.firstName"
        />
      </div>

      <div>
        <label for="lastName">Last Name</label>
        <input
          id="lastName"
          type="text"
          [formField]="registrationForm.account.individual.lastName"
        />
      </div>
    </fieldset>
  }

  @if (isBusinessVisible()) {
    <fieldset>
      <legend>Business Information</legend>

      <div>
        <label for="companyName">Company Name</label>
        <input
          id="companyName"
          type="text"
          [formField]="registrationForm.account.business.companyName"
        />
      </div>

      <div>
        <label for="taxId">Tax ID</label>
        <input
          id="taxId"
          type="text"
          [formField]="registrationForm.account.business.taxId"
        />
      </div>

      <div>
        <label for="registrationNumber">Registration Number</label>
        <input
          id="registrationNumber"
          type="text"
          [formField]="registrationForm.account.business.registrationNumber"
        />
      </div>
    </fieldset>
  }

  @if (registrationForm().errors().length) {
    <span>{{ registrationForm().errors() | json}}</span>
  }

  <button class="submit" (click)="onSubmit($event)" [disabled]="registrationForm().invalid()">
    Create Account
    @if (registrationForm().submitting()){
      <p>...</p>
    }
  </button>
</form>
